<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="WinPath" value="E:/Project/Unity/DarkGod/Client/Assets/Resources/ResCfgs/guide.xml"></add>
        <add key="MacPath" value="/Users/chenguozheng/Public/Dev/Unity/DarkGod/Client/Assets/Resources/ResCfgs/guide.xml"></add>
    </appSettings>
</configuration>